// CAROUSEL
.carousel
  margin-bottom: 80px
.carousel .item img
  width: 100%
.carousel-inner
  width: 70%
  margin-left: 15%
.carousel-control.left, .carousel-control.right
  background: transparent
  .carousel-arrow
    top : 50%
    position: absolute
    margin-left: -20px
    margin-top: -20px
    color: $black-z
    text-shadow: none
.carousel-indicators
  bottom: -40px
  li
    border-color: $black-z
    margin: 0 10px
  .active
    background: $black-z
    margin: 0 10px
    height: 10px
    width: 10px
.carousel-caption-z
    font-weight: 500
    font-size: 12px
    letter-spacing: 6px
