// INDEX - ACTU
.square
  position: relative
  +respond-to(lg)
    height: $container-lg / 4
  padding: 20px
  &:hover
    .plus-h
      transform: rotate(180deg)
      transform: -webkit-rotate(180deg)
    .plus-v
      transform: rotate(450deg)
      transform: -webkit-rotate(450deg)
  .square-top
    display: block
    height: 33%
  .glyphicon
    position: absolute
    top: 0px
    right: 20px
    font-size: 60px
.row-square
  margin: 0

$bg-zoom : 10px
.square-img
  background-position: -1 * $bg-zoom -1 * $bg-zoom
  background-size:

// PLUS ANIMATED
.plus
  width: 32px
  height: 32px
  position: absolute
  top: 20px
  right: 20px
  >span
    display: block
  .plus-h
    width: 32px
    height: 4px
    background: $black-z
    -webkit-transform-origin: 50% 50%
    -moz-transform-origin: 50% 50%
    -o-transform-origin: 50% 50%
    transform-origin: 50% 50%
    transform: rotate(90deg)
    transform: -webkit-rotate(90deg)
    top: 38%
    position: relative
    transition: all 0.5s
  .plus-v
    width: 32px
    height: 4px
    background: $black-z
    position: relative
    top: 25%
    transition: all 0.5s
