// INDEX - ACTU
.square
  height: 292.5px
  padding: 20px
  .square-top
    display: block
    height: 33%
  .glyphicon
    position: absolute
    top: 0px
    right: 20px
    font-size: 60px
.row-square
  margin: 0
