$mss-ratio : 14/6

.row-manual-ss
  @include respond-to(xs)
    height: 100vw / $mss-ratio
  @include respond-to(sm)
    height: $container-sm / $mss-ratio
  @include respond-to(md)
    height: $container-md / $mss-ratio
  @include respond-to(lg)
    height: $container-lg / $mss-ratio
  .manual-ss
    position: relative
    height: 100%
    background: $white-z
    .manual-ss-img
      +fuller
      +cover
      display: none
      &:last-child
        display: block
    img
      width: 100%
  .manual-ss-controls
    +respond-to(sm-max)
      >div
        margin: 0
        padding: 0
    img
      cursor: pointer
  .manual-ss-legend
    margin: auto
    font-size: 10pt
    border-top: 2px Solid $white-z
    border-bottom: 2px Solid $white-z
    text-align: center
    text-transform: uppercase
    color: $white-z
    padding: 30px 0
    b
      display: block
      margin-bottom: -10px
  .manual-ss-legend-c
    @extend .manual-ss-legend
    margin: auto
    border: 0
  >.col-md-9, >.col-md-3
    padding: 0
    img
      padding: 0
