@mixin respond-to($media)
  @if $media == lg
    @media (min-width: $screen-lg) {@content}
  @else if $media == md
    @media (min-width: $screen-md) {@content}
  @else if $media == sm
    @media (min-width: $screen-sm) {@content}
  @else if $media == xs
    @media (min-width: $screen-xs) {@content}
  @else if $media == xxs
    @media (max-width: $screen-xs - 1) {@content}

=fuller
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
=cover
  background-size: cover
=scorer
  &::after
    content: "\A –"
    white-space: pre

=transition-multiple($prop...)
  -webkit-transition: $prop
  -moz-transition: $prop
  -ms-transition: $prop
  -o-transition: $prop
  transition: $prop

=transition($prop,$time)
  -webkit-transition-duration: $time
  -moz-transition-duration: $time
  -o-transition-duration: $time
  transition-duration: $time
  -webkit-transition-property: $prop
  -moz-transition-property: $prop
  -o-transition-property: $prop
  transition-property: $prop
=transition-delay($delay)
  -webkit-transition-delay: $delay
  -moz-transition-delay: $delay
  -o-transition-delay: $delay
  transition-delay: $delay
